#content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #7dfdde;
}

.button {
  background-color: #FFC000;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #e0a800;
}

.button:active {
  background-color: #c98c00;
  transform: scale(0.95);
}
